body{

	}
	
#wrapper{
	background: white;
	width:800px;
	
}	

#header{
	background:blue;
	height: 70px;
}	

#content{
	background: yellow;
	height: 300px;
	width: 600px; 
	margin-bottom: 2px;
	font-family: arial;
	font-size: 12px;
	float: right;
	
}
#sidebar{
	background: Green;
	height: 300px;
	width: 199px;
	float: left;

	}

	#footer{
	background:white;
	height: 100px;
	clear: both;
	}