<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<meta charset="utf-8">
	</head>
	<body>
		<div id="wrapper">
			<div id="header"></div>
			<div id="menu">
				<ul class="drop_menu">

					<li><a href='index.html'>HOME</a>
					</li>
					<li><a href='#'>LINK</a>
					</li>


					<li><a href='#'>PRODUTOS</a>

						<ul>

						<li><a href='#'>Novos</a></li>

						<li><a href='#'>Antigos</a></li>

						<li><a href='#'>Sub Link 3</a></li>

						<li><a href='#'>Sub Link 4</a></li>

						</ul>

					</li>

					<li><a href='#'>+</a>

					<ul>	
						<li><a href='#'>TAGS</a></li>

						<li><a href='#'>SOBRE O SITE</a></li>

						<li><a href='#'></a></li>

						<li><a href='#'>REFERÊNCIAS</a></li>
					</ul>
					

					</li>

				</ul>
					
					
			</div>
			<div id="sidebar"></div>
			<div id="content"></div>
			<div id="footer"></div>
			
		</div>
	
	</body>

</html>